@import url('https://fonts.googleapis.com/css?family=Advent+Pro');
body {
    font-family: "Lato", sans-serif;
   /* font-family: 'Advent Pro';*/
}
span {
  font-size: 30px;
  cursor: pointer;
  padding-left: 1%;
}
.about {
  display: initial;
  margin: 10px;
  &.hidden {
    display: none;
  }
}
.imgCol {
  display: inline-block;
  padding: 10px;
}
.imgRow {
  display: inline-block;
  text-align: left;
  padding: 20px;

  &.viewDiv {
    width: 50%;
    display: block;
    font-size: 15px;
    margin-left: 20%;
  }
  &.green {
    color: green;
  }
  &.red {
    color: red;
  }
}
@keyframes blink {
  50% { border-color: blue; }
}
.presetImgs {
  border: 3px solid white;
  border-radius: 4px;
  padding: 5px;

  &.selectedImg {
    border: 3px solid blue;
  }
  &.pending {
    animation: blink .1s step-end infinite alternate;
  }
}
.imgNumbers {
  font-size: 30px;
  position: relative;
  left: 10px;
  top: 40px;
  color: white;
  text-shadow: 0 0 10px black;
}

.home {
  display: initial;
  &.hidden {
  display: none;
  }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;

    &.expanded {
      width: 100%;
    }

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        &:hover{
            color: #f1f1f1;
        }
   }

  .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }
}

.title {
  font-size: 40px;
  text-align: center;

}

.header {
  font-size: 30px;
  text-align: center;
  padding: 5%;
}

.view {
  padding: 5px;
  margin: auto;
  width: 20%;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  .imgCol {
    display: inline-block;
    padding: 0px;
  }
  .imgRow {
    display: inline-block;
    text-align: left;
    padding: 0px;
    &.viewDiv {
      margin-left: -50%;
      width: 200px;
      padding: 5px;
    }
  }
  .presetImgs {
    border: 3px solid white;
    border-radius: 4px;
    padding: 5px;

    &.selectedImg {
      border: 3px solid blue;
    }
   }
  .header {
    font-size: 25px;
  }
  .title {
    font-size: 20px;
    padding-bottom: 5px;
  }
  span {
    font-size: 15px;
  }
}
